body{
  background: -webkit-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
  background:    -moz-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
  background:     -ms-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
  background:      -o-linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
  background:         linear-gradient(90deg, #e74d6b 10%, #8cc8ac 90%);
}
.barra{
	background-color: transparent;
	color: white;
}
.uno{
	padding: 50px;
}
.logo{
	padding-top: 50px;
	width: 50%;
}
.md{
	padding:30px;
	font-size: 25px;
	background-color: transparent;
	color:white!important;
	border: 2px solid white
}
.btn-trans{
	background-color: transparent;
	width: 100%;
}
.d{
	background-color: transparent;
	border:2px solid white;
}
.lineas{
	padding: 20px;
	color: white;
}
.face{
	border-top: 2px solid white;
	padding : 70px;
	color: white;
	font-size: 25px;
}
.foo{
	border-top: 2px solid white;
	padding: 20px;
	color: white;
}
 
.foo a{
	color:white;
}